*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: #f3f3f3f3;
}

header{
    background: #141c25;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 10%;
}

header .logo a{
    font-size: 25px;
    font-weight: 600;
    color: #cacaca;
    text-decoration: none;
}

header .responsive{
    display: flex;
    font-size: 20px;
}

header .responsive a{
    padding-right: 20px;
}

header .responsive i{
    color: #cacaca;
}

header .responsive .menu .offcanvas-header{
    background: rgb(18, 52, 68);
    color: #cacaca;
}

header .linear{
    border-bottom: solid 1px  #bdb9b9ab;
    width: 100%;
    margin-top: 10px;
}

header .responsive .menu .offcanvas-header i{
    padding-right: 5px;
    font-size: 25px;
}

header .nav-links p{
    font-size: 19px;
    font-weight: 700;
}

header .responsive .menu .text{
    font-size: 15px;
}

header .responsive .nav-links{
    margin-left: -35px;
}

header .responsive .menu ul{
    margin-top: 35px;
    list-style: none;
}

header .responsive .menu li{
    font-size: 16px;
    padding-left: 10px;
    color: #3b3b3b;
}

header .responsive .menu li:hover {
    background: rgba(230, 225, 225, 0.692);
}

.container-img{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.header-img{
    width: 1100px;
    height: 50%;
}

.header-public img{
    width: 100%;
    height: 500px;
}

.header-public  p{
    position: absolute;
    color: #cacaca;
    margin-top: 180px;
    font-size: 30px;
}

.header-public small{
    position: absolute;
    color: #cacaca;
    margin-top: 230px;
    font-size: 15px;
}


.header-public .text-public{
    display: flex;
    justify-content: center;
}
section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container-tables{
    width: 80%;
}

.container-solicitud{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    background: rgb(175, 173, 173);
    padding: 30px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 7px;
}

.container-solicitud .search input{
    padding: 7px;
    padding-left: 10px;
    padding-right: 130px;
    background: #292828c7;
    border: solid 1px #ffffffa9;
    border-radius: 6px;
    color: #fff;
}

